@font-face {
    font-family: 'Archivo';
    src: url('/fonts/Archivo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo-Italic';
    src: url('/fonts/Archivo-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LexendMega';
    src: url('/fonts/LexendMega.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}