@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@layer base {

    @font-face {
        font-family: 'LexendMega';
        src: url('/fonts/LexendMega.woff2') format('woff2');
        font-display: swap;
    }

    @font-face {
        font-family: 'Archivo';
        src: url('/fonts/Archivo.woff2') format('woff2');
        font-display: swap;
    }

    @font-face {
        font-family: 'ArchivoItalic';
        src: url('/fonts/Archivo-Italic.woff2') format('woff2');
        font-display: swap;
    }

    
}

@theme {
    --font-lexend-mega: 'LexendMega', sans-serif;
    --font-archivo: 'Archivo', sans-serif;
    --font-archivo-italic: 'ArchivoItalic', sans-serif;
}